# Plugin info
plugin.name = user-privilege
plugin.version = 1.0.0
plugin.description = Lider User Privilege Plugin
plugin.machine.oriented = true
plugin.user.oriented = false
plugin.policy.plugin = true
plugin.x.based = false